<div id="terminal-comment">
  <div class="comment-header">
    <span class="header-label">[Comments]</span>
  </div>
  <div class="list-divider">----------------------------------------</div>
  <div class="comment-input-area">
    <div class="comment-prompt">
      <span class="prompt">&gt;</span>
      <input type="text" id="comment-input" placeholder="Type your comment..." autocomplete="off" />
    </div>
    <div class="comment-hints gray">
      <span>Press Enter to submit</span>
    </div>
  </div>
  <div id="comment-list" class="comment-list">
    <!-- Comments will be loaded here -->
  </div>
</div>
