<% if (page.total > 1) { %>
<div class="pagination">
  <div class="list-divider">----------------------------------------</div>
  <div class="pagination-inner">
    <% if (page.prev) { %>
    <a href="<%- url_for(page.prev_link) %>" class="page-link">&lt; Prev</a>
    <% } else { %>
    <span class="page-link disabled gray">&lt; Prev</span>
    <% } %>
    <span class="page-info gray">[<%= page.current %> / <%= page.total %>]</span>
    <% if (page.next) { %>
    <a href="<%- url_for(page.next_link) %>" class="page-link">Next &gt;</a>
    <% } else { %>
    <span class="page-link disabled gray">Next &gt;</span>
    <% } %>
  </div>
</div>
<% } %>
