<!-- 文章书签浮动窗口 -->
<div id="gal-bookmark" class="hidden-xs" style="display:none;">
    <div class="gal-bookmark-header" id="gal-bookmark-header">
        <span class="gal-bookmark-title">
            <i class="fa fa-bookmark"></i> 书签
        </span>
        <span class="gal-bookmark-controls">
            <span class="gal-bookmark-btn" id="gal-bookmark-minimize" title="收起/展开">
                <i class="fa fa-minus"></i>
            </span>
        </span>
    </div>
    <div class="gal-bookmark-body" id="gal-bookmark-body">
        <ul class="gal-bookmark-list" id="gal-bookmark-list"></ul>
    </div>
</div>
