<div id="category-list">
  <div class="list-header">
    <span class="header-label">[Categories]</span>
    <span class="post-count gray"><%= site.categories.length %> categorie(s)</span>
  </div>
  <div class="list-divider">----------------------------------------</div>
  <% site.categories.forEach(function(cat) { %>
  <div class="category-item">
    <span class="category-arrow">&gt;</span>
    <a href="<%- url_for(cat.path) %>"><%= cat.name %></a>
    <span class="count gray">(<%= cat.length %>)</span>
  </div>
  <% }); %>
</div>
