<div id="tag-list">
  <div class="list-header">
    <span class="header-label">[Tags]</span>
    <span class="post-count gray"><%= site.tags.length %> tag(s)</span>
  </div>
  <div class="list-divider">----------------------------------------</div>
  <div class="tag-cloud">
    <% site.tags.forEach(function(tag) { %>
    <a href="<%- url_for(tag.path) %>" class="tag-item"><%= tag.name %><span class="count gray">(<%= tag.length %>)</span></a>
    <% }); %>
  </div>
</div>
